<ion-content>
  <div class="row mt-3 ms-3">
    <div class="col-6">
      <ion-icon name="arrow-back-outline" size="medium" (click)="onClickBackBtn()" style="font-size: 30px;"></ion-icon>
    </div>
    <div class="col-2"></div>
    <!-- <div class="col-2" style="text-align: right;">
      <ion-icon name="moon" style="font-size: 30px;"></ion-icon>
    </div> -->
    <div class="col-2" style="text-align: right;" (click)="onClickCartPage()" style="font-size: 30px;">
      <!-- <img width="40" height="40" src="https://img.icons8.com/ultraviolet/40/shopping-cart.png" alt="shopping-cart"/> -->
      <ion-icon name="cart" size="medium"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;" (click)="onClickProfileSection()" style="font-size: 30px;">
      <!-- <img width="48" height="48" src="https://img.icons8.com/color/48/circled-user-male-skin-type-7--v1.png" alt="circled-user-male-skin-type-7--v1" (click)="onClickProfileSection()"/> -->
      <ion-icon name="person-circle" size="large"></ion-icon>
    </div>
  </div>

  <div class="row mt-3 ms-3 me-3">
    <div class="col-12">
      <p class="library-title">Books In My Library</p>
      <p class="items-quantity">{{ this.paidBookInfoList.length }} Items</p>
      <div style="border: 1px solid #000000;"></div>
    </div>
  </div>

  <!-- <div class="row mt-2 ms-3 me-3">
    <div class="col-12">
      <input type="text" class="form-control text-input" placeholder="&#xF002; Search" formControlName="userName">
    </div>
  </div> -->

  <div class="row mt-3 ms-3 me-3">
    <div class="col-12 mb-3" *ngFor="let eachBook of this.paidBookInfoList">
      <div class="card" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;">
        <div class="row">
          <div class="col-5">
            <img src="../../../../assets/book-covers/0 trig cover design-min.jpg" alt="">
          </div>
          <div class="col-7">
            <p class="book-title mt-4">{{ eachBook.bookName }}</p>
            <p style="margin-top: -15px;">Dulith Perera</p>

            <p class="chapter-count">5 Chapters</p>

            <button type="button" class="btn btn-sm" style="background-color: black; width: 110px; border-radius: 20px; color: white; box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;" (click)="onClickVisitChapters(eachBook.bookId)">Read Book</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>