@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');


.book-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    color: #06070D;
}

ngx-star-rating .ngx-star {
    font-size: 16px; /* Adjust the size as needed */
  }

.chapter-count {
    margin-right: 15px;
}

.u-r {
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-weight: bolder;
}

.book-author {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;

    color: #06070D;
}

.login-btn {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    background: #1E232C;
    border-radius: 50px;
    width: 40%;
    height: 56px;
}

.rv-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    background: #1E232C;
    border-radius: 50px;
    width: 60%;
    height: 56px;
}

.add-to-cart-btn {
    width: 90%;
    height: 56px;
    top: 75%;
    
    background: #ffffff;
    border-radius: 50px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    text-align: center;
    letter-spacing: -0.408px;
    
    color: #121212;
    text-decoration: none;
    border: 1px solid #000000;

    // padding-top: 10px;
}

.buy-now-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    background: #1E232C;
    border-radius: 50px;
    width: 45%;
    height: 56px;

    // padding-top: 10px;
}

input.star:checked ~ label.star:before {
    color: pink !important;
}