<ion-content>
  <div class="row mt-3 me-3">
    <div class="col-8" style="text-align: right; padding-top: 17px;">
      <ion-toggle aria-label="Dark toggle" color="dark" [checked]="true"></ion-toggle>
    </div>
    <div class="col-2" style="text-align: right;" (click)="onClickCartPage()">
      <img width="40" height="40" src="https://img.icons8.com/ultraviolet/40/shopping-cart.png" alt="shopping-cart"/>
    </div>
    <div class="col-2" style="text-align: right;">
      <img width="48" height="48" src="https://img.icons8.com/color/48/circled-user-male-skin-type-7--v1.png" alt="circled-user-male-skin-type-7--v1" (click)="onClickProfileSection()"/>
    </div>
  </div>

  <div class="row mt-4 ms-3 me-3">
    <div class="col-12 d-flex justify-content-center">
      <ion-img src="../../../../assets/book-covers/English_Harry_Potter_7_Epub_9781781100264.jpg" style="width: 80%;"></ion-img>
    </div>
    <div class="col-12 mt-2">
      <p class="book-title text-center">{{ this.bookInfo.bookName }}</p>
      <p class="book-author text-center">{{ this.bookInfo.authorName }}</p>
    </div>
    <div class="col-12">
      <p style="text-align: center;">
        {{ this.bookInfo.bookDescription }}
      </p>
    </div>
  </div>

  <div class="row ms-3 me-3">
    <div class="col-12">
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Submit a Review For This Book</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <form [formGroup]="this.ratingForm">
              <div class="row">
                <div class="col-12">
                  <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
                </div>
                <div class="col-12">
                  <div>Rating: {{ratingForm.value.rating}}</div>
                </div>
                <div class="col-12 mt-3">
                  <textarea name="" class="form-control text-inout" id="" cols="30" rows="5"></textarea>
                </div>
                <div class="col-12 mt-3">
                  <button class="login-btn">Submit Review</button>
                </div>
              </div>
              
              <!-- <p>form is valid: {{ ratingForm.valid ? 'true' : 'false' }}</p> -->
              
            </form>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </div>

  <div class="row mt-3 ms-3">
    <div class="col-6">
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
    <div class="col-6">
      <button class="buy-now-btn">Buy Now</button>
    </div>
  </div>
</ion-content>
