@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');

.book-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #06070D;
}

.book-author {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;

    color: #06070D;
}

.pdf-viewer {
    height: 100vh;
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow-y: hidden;
}

.text-input {
    height: 20px;
    padding: 25px;
}

.block-md {
    width: 100%;
    height: 350px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
  
ion-modal.s {
    --height: 70%;
}

ion-modal.l {
    --height: 100%;
}

.block-lg {
    width: 100%;
    height: 100vh;
}

.previous-btn {
    height: 56px;
    top: 75%;
    
    background: #ffffff;
    border-radius: 5px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    text-align: center;
    letter-spacing: -0.408px;
    
    color: #121212;
    text-decoration: none;
    border: 1px solid #000000;

    // padding-top: 10px;
}

.next-btn {
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 50px;
    width: 100%;
    height: 56px;
}

.apply-bk-btn{
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 50px;
    width: 100%;
    height: 56px;
}

.apply-bookmark-btn {
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 50px;
    width: 100%;
}

.ion-page {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    contain: layout size style;
    overflow: hidden;
    z-index: 0;
}