<ion-content>
  <div class="row mt-3 ms-3 me-3" id="testPPP">
    <div class="col-12">
      <div class="row">
        <div class="col-9">
          <p class="book-title">{{ this.bookInfo.bookName }} > {{ this.chapterInfo.chapter }}</p>
        </div>
        <div class="col-3" style="text-align: right;" (click)="onClickBackBtn()">
          <!-- <p style="font-weight: bold;"> < Back </p> -->
          <ion-icon name="arrow-back-circle" style="font-size: 30px;"></ion-icon>
        </div>
      </div>
      <!-- <p class="book-author">J.K. Rowling</p> -->
      <div style="border: 1px solid #000000;"></div>
    </div>
  </div>

  <div class="row mt-3 ms-3 me-3">
    <div class="col-4"></div>
    <!-- <div class="col-4">
      <input type="text" class="form-control text-input" placeholder="Page" #pageNumber (keyup)="changePageNumber(pageNumber.value)">
    </div> -->
    <div class="col-4" style="text-align: right;" (click)="setOpen(true)">
      <!-- <img width="30" height="30" src="https://img.icons8.com/color-glass/30/bookmark--v2.png" alt="bookmark--v2"/> -->
      <ion-icon name="bookmarks" style="font-size: 25px;"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;" id="open-modal">
      <!-- <img width="30" height="30" src="https://img.icons8.com/emoji/30/bookmark-emoji.png" alt="bookmark-emoji"/> -->
      <ion-icon name="bookmark" style="font-size: 25px;"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;" (click)="onClickApplyFullScreen()" id="fullScreenIcon"
      style="display: block;">
      <!-- <img width="30" id="iconImg" height="30" src="https://img.icons8.com/color/48/full-screen.png" alt="full-screen"/> -->
      <ion-icon name="expand" style="font-size: 25px;"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;" (click)="onClickExitFullScreen()" id="exitIcon"
      style="display: none;">
      <!-- <img width="30" height="30" src="https://img.icons8.com/external-filled-color-icons-papa-vector/78/external-Exit-Full-Screen-interface-filled-color-icons-papa-vector-2.png" alt="full-screen"/> -->
      <ion-icon name="contract" style="font-size: 25px;"></ion-icon>
    </div>
    <!-- <img width="48" height="48" src="https://img.icons8.com/color/48/full-screen.png" alt="full-screen"/> -->
  </div>

  <div class="pdf-container mt-2" style="overflow-y: hidden;">
    <pdf-viewer [src]="src" [original-size]="false" [show-all]="true" [page]="pageNumberType" [zoom-scale]="'page-fit'"
      [zoom]="1" class="pdf-viewer" id="pdf"></pdf-viewer>
    <!-- <ngx-extended-pdf-viewer [(src)]="src"> </ngx-extended-pdf-viewer> -->
  </div>

  <!-- <div>
    <button (click)="test()">test</button>
  </div> -->

  <!-- <div class="row ms-3">
    <div class="col-6">
      <button class="previous-btn" (click)="onClickPreviousPage()">Previous</button>
    </div>
    <div class="col-6">
      <button class="next-btn" (click)="onClickNextPage()">Next</button>
    </div>
  </div> -->

  <!-- model will starts here -->

  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" class="md">
    <ng-template>
      <form action="" [formGroup]="this.createBookMarkForm" (ngSubmit)="onSubmitSaveBookMarkInfo()">
        <div class="block-md">
          <div class="row mt-5 ms-3 me-3">
            <input type="text" class="form-control text-input" placeholder="Enter Page Number"
              formControlName="pageNumber">
          </div>
          <div class="row mt-3 ms-3 me-3">
            <textarea name="" id="" cols="30" rows="5" class="form-control"
              formControlName="pageDescription"></textarea>
          </div>
          <div class="row mt-3 ms-3 me-3" style="align-items: center;">
            <button class="next-btn" type="submit">Save Bookmark</button>
          </div>
        </div>
      </form>
    </ng-template>
  </ion-modal>

  <!-- model will ends here -->

  <!-- all bookmark list modal begin here -->

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <div class="block-lg">
        <div class="row mt-5 ms-2">
          <div class="col-12">
            <p class="book-title">My Bookmark List</p>
            <hr style="background-color: #000000;">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div *ngFor="let eachBookMark of this.bookMarkList" class="card mb-3 ms-3 me-3"
              style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;">
              <div class="row">
                <div class="col-12 ms-2">
                  <p class="book-title mt-2">Page No: {{ eachBookMark.pageNumber }}</p>
                  <p style="margin-top: -10px;">{{ eachBookMark.pageDescription }}</p>

                  <div class="row">
                    <div class="col-6">
                      <button class="next-btn mb-3" (click)="onClickApplyBookmarkBtn(eachBookMark.pageNumber)">Apply Bookmark</button>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                      <p class="chapter-count" style="float: center;">Sep 17 on 2033</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- all bookmark list modal ends here -->

</ion-content>