<ion-content>
  <div class="row mt-3 ms-3 me-3">
    <div class="col-6">
      <ion-icon name="arrow-back-outline" size="large" (click)="onClickBackBtn()"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;">
      <!-- <ion-toggle aria-label="Dark toggle" color="dark" [checked]="true"></ion-toggle> -->
      <ion-icon name="moon" size="large"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;" (click)="onClickCartPage()">
      <!-- <img width="40" height="40" src="https://img.icons8.com/ultraviolet/40/shopping-cart.png" alt="shopping-cart"/> -->
      <ion-icon name="cart" size="large"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;">
      <!-- <img width="48" height="48" src="https://img.icons8.com/color/48/circled-user-male-skin-type-7--v1.png" alt="circled-user-male-skin-type-7--v1" (click)="onClickProfileSection()"/> -->
      <ion-icon name="person-circle" size="large"></ion-icon>
    </div>
  </div>

  <div class="row mt-3 ms-3 me-3">
    <div class="col-12">
      <p class="cart-title">Books In My Cart</p>
      <p class="items-quantity">{{ this.allCartItemsList.length }} Items</p>
      <div style="border: 1px solid #000000;"></div>
    </div>
  </div>

  <div class="row mt-3 ms-3 me-3">
    <div class="col-12" *ngFor="let eachCartItem of this.allCartItemsList">
      <!-- <div class="row">
        <div class="col-5">
          <ion-img src="../../../../assets/book-covers/English_Harry_Potter_7_Epub_9781781100264.jpg" style="width: 100%"></ion-img>
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-12">
              <p class="cart-item-title">{{ eachCartItem.bookName }}</p>
            </div>
            <div class="col-12">
              <p class="cart-items-sub-title">{{ eachCartItem.authorName }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="cart-item-title">Price</p>
              <p class="cart-item-title">LKR. {{ eachCartItem.bookPrice }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-danger btn-sm" (click)="onClickRemoveItemFromCart(eachCartItem.bookId)">Remove Book</button>
            </div>
          </div>
        </div>
      </div> -->
      <div class="card" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;">
        <div class="row">
          <div class="col-5">
            <img src="../../../../assets/book-covers/0 trig cover design-min.jpg" alt="">
          </div>
          <div class="col-7">
            <p class="book-title mt-4">{{ eachCartItem.bookName }}</p>
            <p style="margin-top: -15px;">Dulith Perera</p>

            <p class="chapter-count">LKR . {{ eachCartItem.bookPrice }}</p>

            <button type="button" class="btn btn-danger btn-sm" style="width: 100px; border-radius: 20px; color: white; border: none; box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;" >Remove</button>
          </div>
        </div>
      </div>
      <hr style="background-color: #000000;">
    </div>

    <!-- second book item-->

    <!-- <div class="col-12">
      <div class="row">
        <div class="col-5">
          <ion-img src="../../../../assets/book-covers/English_Harry_Potter_7_Epub_9781781100264.jpg" style="width: 100%"></ion-img>
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-12">
              <p class="cart-item-title">Harry Potter Deathly Hollows Part 2</p>
            </div>
            <div class="col-12">
              <p class="cart-items-sub-title">J.K. Rowwling</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="cart-item-title">Price</p>
              <p class="cart-item-title">LKR.2000.00</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-danger btn-sm">Remove Book</button>
            </div>
          </div>
        </div>
      </div>
      <hr style="background-color: #000000;">
    </div> -->

    <!--end second book item-->

    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <p class="cart-item-title">Sub Total</p>
        </div>
        <div class="col-6">
          <p class="cart-item-title" style="text-align: right;">LKR. {{ this.cartAmount }} .00</p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <button class="bg_btn" (click)="onClickCheckoutBtn()">Checkout Items</button>
    </div>
  </div>
</ion-content>