@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');

.cart-title {
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #06070D;
}

.items-quantity {
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;

    color: #06070D;
}

.cart-item-title {
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;

    color: #06070D;
}

.cart-items-sub-title {
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    color: #06070D;
}

.bg_btn {
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    background: #1E232C;
    border-radius: 50px;
    width: 60%;
    height: 56px;
}

.book-title {
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: start;

    color: #06070D;
}

.chapter-count {
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 18px;

    color: #06070D;
}