<ion-content>
	<div class="container">
		<!-- <div class="ion-text-center" *ngIf="isLoading && timer == 0">
			<ion-spinner name="circular"></ion-spinner>
		</div> -->
		<div class="row" style="margin-top: 120px;">
			<div class="col-12">
				<h2 class="title">ආයුබෝවන් !!!</h2>
				<p class="common-text" style="font-size: 24px;">Sign in to Continue</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form action="" [formGroup]="clientLoginForm" class="form-group" (ngSubmit)="onSubmitClientLoginForm()">
					<div class="row mt-3">
						<div class="col-12">
							<input type="text" class="form-control text-input" placeholder="Enter your Email" formControlName="userName">
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<input [type]="this.isShowPassword ? 'text' : 'password'" class="form-control text-input" placeholder="Enter your Password" formControlName="password">
							<ion-icon name="eye" style="font-size: 20px;" class="field-icon" (click)="onClickViewPassword()" id="eyeOn"></ion-icon>
							<ion-icon name="eye-off" style="font-size: 40px;" class="field-icon" (click)="onClickViewPassword()" id="eyeOff" style="display: none;"></ion-icon>
						</div>
					</div>
					<div class="row mt-3 mb-5">
						<div class="col-12">
							<a href="/forgot-pw" class="fgt-pass">Forgot Password?</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12 text-center">
							<input type="submit" class="login-btn" value="Sign in">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-4">
				<div class="b1 mt-2"></div>
			</div>
			<div class="col-4 text-center">
				<div class="border-text">Or Sign in With</div>
			</div>
			<div class="col-4">
				<div class="b1 mt-2"></div>
			</div>
		</div>
		<!-- <div class="row d-flex justify-content-center mt-3">
			<div class="col-3 box d-flex align-items-center">
				<ion-icon name="logo-google" style="font-size: 58px; margin-left: 7px;" (click)="signIn()"></ion-icon>
			</div>
			<div class="col-3"></div>
			<div class="col-3 box ms-5 d-flex align-items-center">
				<ion-icon name="logo-facebook" style="font-size: 60px; margin-left: 7px;"></ion-icon>
			</div>
		</div> -->
		<div class="row mt-3">
			<div class="col-6">
				<div style="float: left;">
					<img src="../../../../assets/icon/google.png" alt="" (click)="signIn()">
				</div>
			</div>
			<div class="col-6">
				<div style="float: right;">
					<img src="../../../../assets/icon/facebook.png" alt="" (click)="facebookAuth()">
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 30px;">
			<div class="col-12">
				<p class="create-acc-link">Don’t have an account? <a href="/auth/register" class="create-acc">Create Account</a> </p>
			</div>
		</div>
	</div>
</ion-content>