<ion-content style="background-color: #FDFDFD;">
  <div class="row mt-3 ms-3">
    <div class="col-6">
      <ion-icon name="arrow-back-outline" size="medium" (click)="onClickBackBtn()" style="font-size: 30px;"></ion-icon>
    </div>
    <div class="col-2"></div>
    <!-- <div class="col-2" style="text-align: right;">
      <ion-icon name="moon" style="font-size: 30px;"></ion-icon>
    </div> -->
    <div class="col-2" style="text-align: right;" (click)="onClickCartPage()" style="font-size: 30px;">
      <!-- <img width="40" height="40" src="https://img.icons8.com/ultraviolet/40/shopping-cart.png" alt="shopping-cart"/> -->
      <ion-icon name="cart" size="medium"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;" (click)="onClickProfileSection()" style="font-size: 30px;">
      <!-- <img width="48" height="48" src="https://img.icons8.com/color/48/circled-user-male-skin-type-7--v1.png" alt="circled-user-male-skin-type-7--v1" (click)="onClickProfileSection()"/> -->
      <ion-icon name="person-circle" size="large"></ion-icon>
    </div>
  </div>

  <div class="row mt-3 ms-3">
    <div class="col-12">
      <p class="sub-title">Welcome Back , {{ this.profileInfo.firstName }}</p>
    </div>
    <div class="col-12">
      <p class="title">What do you want to read today?</p>
    </div>
  </div>

  <!-- <div class="row mt-2 ms-3 me-3">
    <div class="col-12">
      <input type="text" class="form-control text-input" placeholder="&#xF002; Search" formControlName="userName">
    </div>
  </div> -->

  <div class="row mt-3 ms-3">
    <!-- <div class="col-12">
      <p class="popular-text">Popular Books</p>
    </div> -->
    <div class="col-12">
      <swiper #swiper [config]="config">

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/book-covers/1.png" class="img img-responsive" style="margin-top: -15px;" (click)="onClickEachBook(2)">
            <div class="profile-name" style="margin-top: 60px;">ත්‍රිකෝණමිතිය</div>
            <div class="profile-username mt-3">Dulith Perera</div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>
        
        <!-- 1st book starts here -->
        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/book-covers/2.jpg" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>
        <!-- 1st book ends here -->

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/book-covers/3.jpg" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/book-covers/4.jpg" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/book-covers/5.jpg" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/book-covers/6.jpg" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/book-covers/7.jpg" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/book-covers/8.jpg" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>
        
      </swiper>
    </div>
  </div>

  <!-- <div class="row mt-3 ms-3 me-3">
    <div class="col-12">
      <p class="popular-text">Newest Books</p>
    </div>
    <div class="col-12 mb-3" *ngFor="let eachBook of this.bookInfoList" style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
      <div class="row" (click)="onClickEachBook(eachBook.bookId)">
        <div class="col-5">
          <ion-img src="../../../../assets/book-covers/English_Harry_Potter_7_Epub_9781781100264.jpg"></ion-img>
        </div>
        <div class="col-7 pt-3">
          <div class="row">
            <div class="col-12">
              <p class="cart-item-title">{{ eachBook.bookName }}</p>
            </div>
            <div class="col-12">
              <p class="cart-items-sub-title">{{ eachBook.authorName }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="cart-item-title">Price</p>
              <p class="cart-item-title">LKR. {{ eachBook.bookPrice }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</ion-content>
