<ion-content>
  <div class="row ms-3 me-3 mt-5">
    <div class="col-12 text-center">
      <p class="book-title mt-3 mb-2">#ගණිතාවබෝදය</p>
      <p style="font-size: 14px; margin-top: 10px; margin-bottom: 15px;">comprehensive analysis and work book</p>
    </div>
    <div class="col-12">
      <!-- <img class="bg_img" src="../../../../assets/home/home_bg.png" alt=""> -->
      <swiper #swiper [config]="config">

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/home/1.png" class="img img-responsive">
            <div class="profile-name" style="margin-top: 60px;"></div>
            <div class="profile-username mt-3"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <!-- 1st book starts here -->
        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/home/2.png" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>
        <!-- 1st book ends here -->

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/home/3.png" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/home/4.png" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/home/5.png" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/home/6.png" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/home/7.png" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="profile-card-2"><img src="../../../../assets/home/8.png" class="img img-responsive">
            <div class="profile-name"></div>
            <div class="profile-username"></div>
            <!-- <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div> -->
          </div>
        </ng-template>

      </swiper>
    </div>
  </div>
  <div class="row mt-3 ms-3 me-3">
    <div class="col-12">
      <p class="bg_text" style="text-align: justify;">
        Read more and stress less with our online book 
        viewing app. View from anywhere you want,
        anytime you need and master A/L Pure Math.
        Knowledge awaits you!
        <!-- <a href="#" (click)="onClickSeeMoreLink()" id="moreBtn" style="text-decoration: none; font-weight: bolder;">See
          More...</a> -->
      </p>
      <!-- <p id="moreText" class="bg_text" style="text-align: justify;"></p>
      <a href="#" id="lessBtn" (click)="onClickSeeLessLink()" style="display: none;">See Less...</a> -->
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <!-- <button class="bg_btn" (click)="onClickSigninBtn()">Let's Start</button> -->
      <ngx-slide-to-confirm placeHolder="Slide to Start" (confirm)="onConfirm()"  color="black"></ngx-slide-to-confirm>
    </div>
  </div>
</ion-content>