<ion-content>
  <div class="row ms-3 me-3">
    <div class="col-12">
        <img class="bg_img" src="../../../../assets/home/home_bg.png" alt="">
    </div>
  </div>
  <div class="row ms-3 me-3">
    <div class="col-12">
      <p class="bg_text">
        Read more and stress less with our online book shopping app. Shop from anywhere you are and discover titles that you love. Happy reading!
      </p>
    </div>
  </div>
  <div class="row ms-3 me-3">
    <div class="col-12 d-flex justify-content-center">
      <button class="bg_btn" (click)="onClickSigninBtn()">Get Started</button>
    </div>
  </div>
</ion-content>
