<ion-content>
  <div class="row mt-3 ms-3 me-3">
    <div class="col-6">
      <ion-icon name="arrow-back-outline" size="large" (click)="onClickBackBtn()"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;">
      <!-- <ion-toggle aria-label="Dark toggle" color="dark" [checked]="true"></ion-toggle> -->
      <ion-icon name="moon" size="large"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;" (click)="onClickCartPage()">
      <!-- <img width="40" height="40" src="https://img.icons8.com/ultraviolet/40/shopping-cart.png" alt="shopping-cart"/> -->
      <ion-icon name="cart" size="large"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;" (click)="onClickProfileSection()">
      <!-- <img width="48" height="48" src="https://img.icons8.com/color/48/circled-user-male-skin-type-7--v1.png" alt="circled-user-male-skin-type-7--v1" (click)="onClickProfileSection()"/> -->
      <ion-icon name="person-circle" size="large"></ion-icon>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <img width="96" height="96" src="https://img.icons8.com/color/96/circled-user-male-skin-type-7--v1.png" alt="circled-user-male-skin-type-7--v1"/>
    </div>
    <div class="col-12 text-center">
      <p class="name">{{ this.profileInfo.firstName }} {{ this.profileInfo.lastName }}</p>
      <p class="email">{{ this.profileInfo.email }}</p>
    </div>
  </div>

  <div class="row ms-3 me-3">
    <div class="col-12">
      <form action="" [formGroup]="this.editprofileForm" class="form-group" (submit)="onSubmitEditProfileForm()">
        <div class="row mt-3">
          <div class="col-12">
            <input type="text" class="form-control text-input" placeholder="Enter your Email" formControlName="firstName">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <input type="text" class="form-control text-input" placeholder="Enter your Password" formControlName="lastName">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <input type="text" class="form-control text-input" placeholder="Enter your Email" formControlName="mobileNumber">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <input type="submit" class="login-btn" value="Update Profile">
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>