<ion-content>
  <div class="row mt-3 ms-3">
    <div class="col-6">
      <ion-icon name="arrow-back-outline" size="medium" (click)="onClickBackBtn()" style="font-size: 30px;"></ion-icon>
    </div>
    <div class="col-2"></div>
    <!-- <div class="col-2" style="text-align: right;">
      <ion-icon name="moon" style="font-size: 30px;"></ion-icon>
    </div> -->
    <div class="col-2" style="text-align: right;" (click)="onClickCartPage()" style="font-size: 30px;">
      <!-- <img width="40" height="40" src="https://img.icons8.com/ultraviolet/40/shopping-cart.png" alt="shopping-cart"/> -->
      <ion-icon name="cart" size="medium"></ion-icon>
    </div>
    <div class="col-2" style="text-align: right;" (click)="onClickProfileSection()" style="font-size: 30px;">
      <!-- <img width="48" height="48" src="https://img.icons8.com/color/48/circled-user-male-skin-type-7--v1.png" alt="circled-user-male-skin-type-7--v1" (click)="onClickProfileSection()"/> -->
      <ion-icon name="person-circle" size="large"></ion-icon>
    </div>
  </div>

  <div class="row ms-3 me-3 text-center">
    <div class="col-12">
      <p class="book-title mt-3 mb-3">#ගණිතාවබෝදය</p>
      <p style="text-align: justify;">ගණිත ගැටල විසඳීමේ කුසලතා වර්ධනය
        කරගැනීම සඳහා ක්‍රියාශීලී නියැලීම සහ
        පුහුණුව අතයවශ්‍ය මේ.
        මමහි ඇතුළත් වන ඊ-මොත් මෙළ 1980 සිට
        2019 දක්වා සේමත උසස් මෙළ ෙරශ්න
        ෙතරවලින් ෙමණක් උකහා ගත් පුළුල්
        ෙරාසයක විහිදී තිබූ විවිධ ගණමේ ගැටල
        විසඳීමට සිසුන්ට ඉඩ සලසයි
        තමා උගත් විෂය කරැණු මගින් සිසුන්ට
        තම දැනුේ මට්ටමට සරිලන ආකාරමේ
        උසස් මෙළ ගැටල ෙහසුමවන් මසවීම
        සඳහා, ොඩේ අනුව වර්ීකරණය මකාට
        ඇති මමම ගැටල සියල්ල 2017 සංයුක්ත
        ගණිතය විෂය නිර්මේශ්‍මේ අඩංගු වන
        අන්තර්ගතයන් භාවිතමයන් විසඳන අයුරැද
        අනුකිමිකව සාරාංශ්‍ගත මකාට ඇත.
        ගැටල විසඳීම සඳහා ” ඔබ ගත යුතු පියවර
        මමානවාද ?” නැතමහාත් ” ඔබ මමම
        ෙරමේශ්‍ය මතෝරාගත යුත්මත් ඇයි ?” යන්න
        ෙැහැදිලි ක්‍රරීම මගින් සිසුන්ට ගැටල
        විසඳීමේ ක්‍රියාවලිය ගැන මමමනහි ක්‍රරීමට
        මමන්ම ඔවුන්මේ චින්තනය පිළිබඳ ගැඹුරැ
        අවමබෝධයක් වර්ධනය කරගැනීමට සිසුන්
        මොළඹවා, ඔවුන්මේ සාර්ථකත්වයන්මගන්
        මමන්ම ඔවුන්මේ අසාර්ථකත්වයන්මගන්ද
        ඔවුන්ට ඉමගනීමට අවස්ථාව සලසා ඇත.</p>
    </div>
  </div>

  <div class="row ms-3 me-3">
    <div class="col-12">
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>About Us</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            At DPuremaths, we are dedicated
            towards elevating A/L mathematics
            education, via Efficient content
            delivery to simplify learning and
            enhance problem solving skills of
            the next generation of Sri Lankan
            Mathematicians.

            <p style="font-weight: bolder; margin-top: 5px; margin-bottom: 5px;">Our Mission </p>

            Ensure quality study resources for
            Sinhalese medium mathematics
            students are made easily & widely
            accessible, despite their language
            & economic barriers
            Encourage & excite young students
            to engage in mathematics and
            facilitate their learning by reducing
            the effort required to understand
            and excel A/L mathematics
          </div>
        </ion-accordion>
        <ion-accordion value="second" class="mt-2">
          <ion-item slot="header" color="light">
            <ion-label>Contact Us</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p style="font-size: 18px;">Welcome to DPuremaths Support!</p>
            We are here to support your learning journey. For app related questions, issues, or assistance, reach out to
            us on WhatsApp. We will get to you as soon as possible.

            <div class="mt-2" style="border: 1px solid #000000;"></div>

            <div class="row">
              <div class="col-12">
                <form action="" [formGroup]="this.clientSupportForm" class="form-group"
                  (submit)="onSubmitClientSupportForm()">
                  <div class="row mt-3">
                    <div class="col-12">
                      <input type="text" class="form-control text-input" placeholder="Enter your Title"
                        formControlName="title">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12">
                      <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Type your Message"
                        formControlName="message"></textarea>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12">
                      <input type="submit" class="login-btn" value="Submit Message">
                    </div>
                  </div>
                </form>
                <div class="row mt-3">
                  <div class="col-12">
                    <button class="login-btn" (click)="onClickWaBtn()" role="button"><i
                      class="fa fa-whatsapp me-2"></i>Whatsapp</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </div>

</ion-content>