<ion-content>
  <div class="row mt-3 ms-2 me-4">
    <div class="col-8">
      <!-- <ion-icon name="arrow-back-outline" size="medium" (click)="onClickBackBtn()" style="font-size: 30px;"></ion-icon> -->
      <!-- <a href="#" class="back-button" (click)="onClickBackBtn()">Back</a> -->
      <ion-icon name="arrow-back-circle" style="font-size: 30px;" (click)="onClickBackBtn()"></ion-icon>
    </div>
    <!-- <div class="col-2"></div> -->
    <!-- <div class="col-2" style="text-align: right;">
      <ion-icon name="moon" style="font-size: 30px;"></ion-icon>
    </div> -->
    <div class="col-3" (click)="onClickCartPage()" style="font-size: 30px; text-align: right;">
      <!-- <img width="40" height="40" src="https://img.icons8.com/ultraviolet/40/shopping-cart.png" alt="shopping-cart"/> -->
      <ion-icon name="cart" size="medium"></ion-icon>
    </div>
    <div class="col-1" (click)="onClickProfileSection()" style="font-size: 30px; text-align: right;">
      <!-- <img width="48" height="48" src="https://img.icons8.com/color/48/circled-user-male-skin-type-7--v1.png" alt="circled-user-male-skin-type-7--v1" (click)="onClickProfileSection()"/> -->
      <ion-icon name="person-circle" size="large"></ion-icon>
    </div>
  </div>

  <div class="row ms-3 me-3 text-center">
    <div class="col-12">
      <p class="book-title mb-4" style="margin-top: 20px;">#ගණිතාවබෝදය</p>
      <p style="text-align: justify;">සිද්ධාන්ත සංකල්ප ශක්තිමත් කොට ගණිත ගැටලු‍ විසඳීමේ කුසලතාව වර්ධනය කරගැනීමට සහ ආත්ම විශ්වාසය ගොඩනඟා ගැනීමට ක්‍රියාශීලී නියැලීම සහ නිතිපතා පුහුණුව අත්‍යවශ්‍ය වේ.</p>

      <p style="text-align: justify;">මෙහි ඇතුළත් වන ඊ-පොත් පෙළ 1980 සිට 2019 දක්වා සම්මත උසස් පෙළ ප්‍රශ්න පත්‍රවලින් පමණක් උකහා ගත්, පුළුල් පරාසයක විහිදී ඇති විවිධ ගණයේ ගැටලු‍ විසඳීමට සිසුන්ට ඉඩ සලසයි.</p>
        
      <p style="text-align: justify;">තමා උගත් විෂය කරුණු මගින් සිසුන්ට තම දැනුම් මට්ටමට සරිලන ආකාරයේ උසස් පෙළ ගැටලු‍ පහසුවෙන් සෙවීම සඳහා, පාඩම් අනුව වර්ගීකරණය කොට ඇති මෙම ගැටලු‍ සියල්ල 2017 සංයුක්ත ගණිතය විෂය නිර්දේශයේ අඩංගු වන අන්තර්ගතයන් භාවිතයෙන් විසඳන අයුරුද අනුක්‍රමික ලෙස සාරාංශගත කොට ඇත. </p>
        
      <p style="text-align: justify;">ගැටලු‍ විසඳීම සඳහා ”‍ඔබ ගත යුතු පියවර මොනවාද ?” නැතහොත් ”‍ඔබ මෙම ප්‍රවේශය තෝරාගත යුත්තේ ඇයි ?”‍  යන්න පැහැදිලි කිරීම මගින්, මෙම පොත් පෙළ ගැටලු‍ විසඳීමේ ක්‍රියාවලිය ගැන මෙනෙහි කිරීමට මෙන්ම තම චින්තනය පිළිබඳ ගැඹුරු අවබෝධයක් වර්ධනය කරගැනීමට සිසුන් පොළඹවා, ඔවුන්ගේ සාර්ථකත්වයන්ගෙන් මෙන්ම ඔවුන්ගේ අසාර්ථකත්වයන්ගෙන්ද ඔවුන්ට ඉගෙනීමට අවස්ථාව සලසා දී ඇත.</p>
    </div>
  </div>

  <div class="row ms-3 me-3">
    <div class="col-12">
      <ion-accordion-group>
        <ion-accordion value="first" style="border-radius: 20px;">
          <ion-item slot="header" color="light">
            <ion-label style="font-weight: bold;">About Us</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" style="text-align: justify;">
            At dpuremaths, we are dedicated towards elevating A/L mathematics education,  via efficient content delivery to simplify learning and enhance problem solving skills of the next generation of Sri Lankan mathematicians.

            <p style="font-weight: bolder; margin-top: 10px; margin-bottom: 5px;">Our Mission </p>

            Ensure quality study resources for Sinhalese medium mathematics students are made easily & widely accessible, despite their language & economic barriers<br>

            <p class="mt-1">Encourage & excite young students to engage in mathematics and facilitate their learning by reducing the effort required to understand and excel A/L mathematics</p>
          </div>
        </ion-accordion>
        <ion-accordion value="second" class="mt-2" style="border-radius: 20px;">
          <ion-item slot="header" color="light">
            <ion-label style="font-weight: bold;">Contact Us</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" style="text-align: justify;">
            <p style="font-size: 18px;">Welcome to dpuremaths Support!</p>
            We are here to assist you on your learning journey. For app related questions, issues & assistance please reach out to us or message us on WhatsApp. We will respond to you as soon as possible. Have a nice day!

            <div class="mt-2" style="border: 1px solid #000000;"></div>

            <div class="row">
              <div class="col-12">
                <form action="" [formGroup]="this.clientSupportForm" class="form-group"
                  (submit)="onSubmitClientSupportForm()">
                  <div class="row mt-3">
                    <div class="col-12">
                      <input type="text" class="form-control text-input" placeholder="Enter your Title"
                        formControlName="title">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12">
                      <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Type your Message"
                        formControlName="message"></textarea>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12">
                      <input type="submit" class="login-btn" value="Submit Message">
                    </div>
                  </div>
                </form>
                <div class="row mt-3">
                  <div class="col-12">
                    <button class="login-btn" (click)="onClickWaBtn()" role="button"><i
                      class="fa fa-whatsapp me-2"></i>Whatsapp</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </div>

</ion-content>