<ion-content>
  <div class="row mt-3 me-3" id="testRTY">
    <div class="col-8" style="text-align: right; padding-top: 17px;">
      <ion-toggle aria-label="Dark toggle" color="dark" [checked]="true"></ion-toggle>
    </div>
    <div class="col-2" style="text-align: right;" (click)="onClickCartPage()">
      <img width="40" height="40" src="https://img.icons8.com/ultraviolet/40/shopping-cart.png" alt="shopping-cart"/>
    </div>
    <div class="col-2" style="text-align: right;">
      <img width="48" height="48" src="https://img.icons8.com/color/48/circled-user-male-skin-type-7--v1.png" alt="circled-user-male-skin-type-7--v1" (click)="onClickProfileSection()"/>
    </div>
  </div>

  <div class="row mt-3 ms-3 me-3" id="testPPP">
    <div class="col-12">
      <p class="book-title">Contact With Us</p>
      <p class="book-author">Put a Message to us as soon as possible we'll contact</p>
      <div style="border: 1px solid #000000;"></div>
    </div>
  </div>

  <div class="row ms-3 mt-3 me-3">
    <div class="col-12">
      <form action="" [formGroup]="this.clientSupportForm" class="form-group" (submit)="onSubmitClientSupportForm()">
        <div class="row mt-3">
          <div class="col-12">
            <input type="text" class="form-control text-input" placeholder="Enter your First Name" formControlName="firstName">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <input type="text" class="form-control text-input" placeholder="Enter your Last Name" formControlName="lastName">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <textarea name="" id="" cols="30" rows="10" class="form-control" formControlName="message"></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <input type="submit" class="login-btn" value="Submit Message">
          </div>
        </div>
      </form>
    </div>
  </div>

</ion-content>