<ion-content>
  <div class="row mt-3 ms-2">
    <div class="col-6 d-flex align-items-center">
      <!-- <ion-icon name="arrow-back-outline" size="medium" (click)="onClickBackBtn()" style="font-size: 30px;"></ion-icon> -->
      <!-- <a href="#" class="back-button" (click)="onClickBackBtn()">Back</a> -->
      <ion-icon name="arrow-back-circle" style="font-size: 30px;" (click)="onClickBackBtn()"></ion-icon>
    </div>
    <div class="col-2"></div>
    <!-- <div class="col-2" style="text-align: right;">
      <ion-icon name="moon" style="font-size: 30px;"></ion-icon>
    </div> -->
    <div class="col-2 d-flex align-items-center" style="text-align: right;" (click)="onClickCartPage()" style="font-size: 30px;">
      <!-- <img width="40" height="40" src="https://img.icons8.com/ultraviolet/40/shopping-cart.png" alt="shopping-cart"/> -->
      <ion-icon name="cart" size="medium"></ion-icon>
    </div>
    <div class="col-2 d-flex align-items-center" style="text-align: right;" (click)="onClickProfileSection()" style="font-size: 30px;">
      <!-- <img width="48" height="48" src="https://img.icons8.com/color/48/circled-user-male-skin-type-7--v1.png" alt="circled-user-male-skin-type-7--v1" (click)="onClickProfileSection()"/> -->
      <ion-icon name="person-circle" size="large"></ion-icon>
    </div>
  </div>

  <div class="row mt-3 ms-3 me-3">
    <div class="col-12">
      <p class="cart-title">{{ this.bookInfo.bookName }}</p>
      <p class="items-quantity">{{ this.chapterList.length }} Items</p>
      <div style="border: 1px solid #000000;"></div>
    </div>
  </div>

  <div class="row mt-3 ms-4 me-4" *ngFor="let eachChapter of this.chapterList; ">
    <div class="col-12" (click)="onClickBookChapter(eachChapter.id)">
      <div class="row">
        <div class="col-12" style="height: 65px; border-radius: 30px; border: 1px solid rgb(172, 172, 240); box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
          <div class="row mt-1">
            <div class="col-1" style="margin-left: -24px;"></div>
            <div class="col-7" style="background-color: #d9d9d9; height: 55px; border-radius: 30px;">
              <p style="font-size: 25px; margin-top: 10px; margin-left: 10px; font-weight: 800px;">{{ eachChapter.chapter }}</p>
            </div>
            <div class="col-4" style="text-align: right;">
              <!-- <p class="ms-3 mt-3">{{ eachChapter.chapter }}</p> -->
              <!-- <ion-icon name="arrow-forward-outline" style="margin-top: 12px;" size="large"></ion-icon> -->
              <ion-icon name="arrow-forward-circle" style="margin-top: -5px; margin-left: 4rem; font-size: 65px; color: #d9d9d9;" (click)="onClickBackBtn()"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
