@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');

.cart-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #06070D;
}

.items-quantity {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;

    color: #06070D;
}